# Ignore log files
*.log
backend/__pycache__
backend/__pycache__/pixelate.cpython-311.pyc

# Ignore build artifacts
/build/
/dist/
/node_modules/
.DS_Store
/backend/.DS_Store

# Ignore sample images
/backend/images